/* birth and death style */
.birth{
  color:rgb(255, 206, 103);
  fill:rgb(255, 206, 103);
}

.death{
  color:rgb(255, 75, 66);
  fill:rgb(255, 75, 66);
}

body{
  background-color:rgb(0, 60, 90);
  text-align: center;
}

h1{
  color:rgb(255,255,255);
}

h2{
  color:rgb(255,255,255);
}

h3{
  color:rgb(255,255,255);
}
